.your-applications{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 2px 2px 12px #00000040,
                -2px -2px 12px #00000040;
    gap: 38px;
}

.header{
    text-align: center;
    padding: 40px 70px 20px 70px;
    font-size: 18px;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    width: 70%;
}

.buttons button{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #2E74EE;
    color: #FFFFFF;
    border-radius: 12px;
    cursor: pointer;
    border: 2px solid #2E74EE;
    font-size: 24px;
    padding: 12px 10px;
    width: 100%;
}

.buttons button:hover{
    color:#2E74EE;
    background-color: #FFFFFF;
    border: 2px solid #2E74EE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5)
}

.buttons button:active{
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
}

.applications-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 40px 0;
    gap: 38px;
    box-shadow: 2px 2px 12px #00000040,
                -2px -2px 12px #00000040;
}

.applications-list p{
    font-size: 24px;
    padding: 0 20px;
}

.applications-list ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}