.profile-menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 24px;
    box-shadow: 2px 2px 12px #00000040,
                -2px -2px 12px #00000040;
    gap: 36px;
    
}

.profile-menu-btn{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
    font-size: 24px;
    width: 232px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #FFFFFF;
    color: black;
    cursor: pointer;
    border: none;
}

.profile-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 232px;
    padding-top: 20px;
}

.myprofile-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    gap: 0.5rem;
}

.icon{
    margin: auto 0;
    width: 20px;
    height: 20px;
}