.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.links{
    display: flex;
    justify-content: space-between;
    width: 1008px;
    gap: 32px;
    padding: 10px 0;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    padding: 0 24px;
    text-decoration: none;
    color: #2E74EE;
}

.sublinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 640px;
    font-size: 20px;
}

.sublinks a{
    display: flex;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    gap: 7px;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
}

.sublinks a:hover{
    color: #2E74EE;
}

.profile-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    gap: 7px;
    padding: 0 24px;
}

.profile-link:hover{
    color: #2E74EE;
}